---
title: Welcome to Middleman
---


<div class="header">
  <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href="">SecondWind</a>

    <ul>
      <li><a href="#">Vision</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">The Gift Economy</a></li>
      <li><a href="#">Blog</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <p class="splash-head">
    Why did I quit my job and move to the countryside?<br />
    Just needed to <span class="outline">b.r.e.a.t.h.e</span> and catch my <span class="outline">second wind</span>.<br />
    Now, I'm striving to help you get yours.
    </p>
    <p class="splash-intro">
    I am <span class="outline">Nicolas Wormser</span>, a fresh software engineer graduate who chose to tread a different path. One of community involvement, experimentation and purposeful undertakings.
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">How I can help.</h2>
    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
        <h3 class="content-subhead">
          Introspective vision building
        </h3>
        <p>
        Your strong values and beliefs are pushing you to start your own venture, but you don't know where to start? Together we can work on exploring your motives, defining your objectives and identifying what is preventing you from going there.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
        <h3 class="content-subhead">
          Reflective Webdesign
        </h3>
        <p>
        You provide the ideas, I bring the crafts. Together, we outline the narrative of your message and shape it in a website that is uniquely personal.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
        <h3 class="content-subhead">
          Disruptive Entrepreneurship
        </h3>
        <p>
        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
        <h3 class="content-subhead">
          <i class="fa fa-check-square-o"></i>
          Plays Nice
        </h3>
        <p>
        Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
    </div>
  </div>

  <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
      <img class="pure-img-responsive" alt="File Icons" width="300" src="img/common/file-icons.png">
    </div>
    <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

      <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor.
      </p>
    </div>
  </div>

  <div class="content">
    <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

    <div class="pure-g">
      <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
        <form class="pure-form pure-form-stacked">
          <fieldset>

            <label for="email">Your Name</label>
            <input id="email" type="text" placeholder="Your Name">


            <label for="email">Your Email</label>
            <input id="email" type="email" placeholder="Your Email">

            <label for="password">Your Password</label>
            <input id="password" type="password" placeholder="Your Password">

            <button type="submit" class="pure-button">Sign Up</button>
          </fieldset>
        </form>
      </div>

      <div class="l-box-lrg pure-u-1 pure-u-med-3-5">
        <h4>Contact Us</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        </p>

        <h4>More Information</h4>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>

  </div>

  <div class="footer l-box is-center">
    View the source of this layout to learn more. Made with love by the YUI Team.
  </div>
</div>