.header
  .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal.pure-menu-fixed
    a.pure-menu-heading href=""  SecondWind
    ul
      li
        a href="#"  Vision
      li
        a href="#"  Services
      li
        a href="#"  The Gift Economy
      li
        a href="#"  Blog
.splash-container
  .splash
    p.splash-head
      | Why did I quit my job and move to the countryside?
      br/
      | Just needed to
      span.outline b.r.e.a.t.h.e
      | and catch my
      = succeed "." do
        span.outline second wind
      br/
      | Now, I'm striving to help you get yours.
    p.splash-intro
      | I am
      = succeed "," do
        span.outline Nicolas Wormser
      | a fresh software engineer graduate who chose to tread a different path. One of community involvement, experimentation and purposeful undertakings.
.content-wrapper
  .content
    h2.content-head.is-center How I can help.
    .pure-g
      .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
        h3.content-subhead
          | Introspective vision building
        p
          | Your strong values and beliefs are pushing you to start your own venture, but you don't know where to start? Together we can work on exploring your motives, defining your objectives and identifying what is preventing you from going there.
      .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
        h3.content-subhead
          | Reflective Webdesign
        p
          | You provide the ideas, I bring the crafts. Together, we outline the narrative of your message and shape it in a website that is uniquely personal.
      .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
        h3.content-subhead
          | Disruptive Entrepreneurship
        p
          | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
      .l-box.pure-u-1.pure-u-med-1-2.pure-u-lrg-1-4
        h3.content-subhead
          i.fa.fa-check-square-o
          | Plays Nice
        p
          | Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
  .ribbon.l-box-lrg.pure-g
    .l-box-lrg.is-center.pure-u-1.pure-u-med-1-2.pure-u-lrg-2-5
      img.pure-img-responsive alt=("File Icons") src="img/common/file-icons.png" width="300" 
    .pure-u-1.pure-u-med-1-2.pure-u-lrg-3-5
      h2.content-head.content-head-ribbon Laboris nisi ut aliquip.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        | consequat. Duis aute irure dolor.
  .content
    h2.content-head.is-center Dolore magna aliqua. Uis aute irure.
    .pure-g
      .l-box-lrg.pure-u-1.pure-u-med-2-5
        form.pure-form.pure-form-stacked
          fieldset
            label for="email"  Your Name
            input#email placeholder=("Your Name") type="text" 
              label for="email"  Your Email
              input#email placeholder=("Your Email") type="email" 
                label for="password"  Your Password
                input#password placeholder=("Your Password") type="password" 
                  button.pure-button type="submit"  Sign Up
      .l-box-lrg.pure-u-1.pure-u-med-3-5
        h4 Contact Us
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          | consequat.
        h4 More Information
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          | tempor incididunt ut labore et dolore magna aliqua.
  .footer.l-box.is-center
    | View the source of this layout to learn more. Made with love by the YUI Team.
